*
{
  margin:0px;
  padding: 0px;

}

header{
  width: 100%;
  padding-top: 20px;
  background-color: #de9967;
  font-family:'Georgia', serif;

}

.heading{
  color:white;
  text-transform:uppercase;
  font-size: 20px;
  padding-bottom: 20px;
  letter-spacing: 5px;

}

.heading h1{
  text-align: center;
}

.nav-bar{
  display:flex;
  justify-content: space-around;
  list-style: none;
  background-color: #9fb6cd;
  padding=top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
.nav-bar a{
  color:grey;
  font-size: 20px
}
.nav-bar .active{
  color:black;
}

a:link{
  text-decoration: none;
}

a:visted{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

a:active{
  text-decoration:none;
}

footer
{
  color:white;
  text-align: center;
  background-color: #de9967;
  font-size: 15px;
  bottom:0;
  position: fixed;
  width:100%;
}

p{
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}
img{
  text-align: center;
  border-radius:10px;
  padding:5px;
  border: none;
}

.animals{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
.animals th{
  background-color: #2471A3;
  font-size:20px;
}

.animals td {
   background-color:#EBF4FA;
}
.animals th,td{
  border:solid 2px;
  text-align: center;

}
form{
  display: inline-block;
  padding-bottom:10px;
  background-color: #f1f1f1;
  font-size:17px;
}

.userInfo{
  padding-top:10px;
}
.userInfo td, th{
  border: 0;
  font-size:17px;
}

.container{
  margin-top:30px;
  text-align: center;
}


.cats {
  margin-left: auto;
  margin-right: auto;
}

.cats th{
  background-color: #2471A3;
  font-size:20px;
  color: white;
  border: solid 2px black;

}
.cats td{
  border: dotted 2px;
  font-size:15px;
}

.birdTable {
  padding-top::10px;
  margin-left: auto;
  margin-right: auto;
}

.birdTable th{
  background-color: #2471A3;
  font-size:20px;
  color: white;
}

.birdTable td{
  font-size:20px;
}
